html,
body {
    height: 100%;
    position: relative;
}

#main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/** Styling for content*/

#square {
    width: 45px;
    height: 40px;
}

#search-bar-container {
    margin: 0px;
    width: 100%;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
}

#current-weather-container, #tomorrow-weather-container  {
    height: 10em;
    position: relative
}

#current-weather-container div, #tomorrow-weather-container div{
    margin: 0;
    /* background: yellow; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.fahr-display:after{
    content:"°F";
}

/** Styling for side bar */
#sidebar {
    transition: all 0.3s;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
}

#sidebar.active {
    margin-left: -260px;
}

/** TODO add styling to change background dynamically based on time of day **/

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}